@using HistoryGeek.Web.Models.ViewModels;
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login">
    <h2>Login</h2>
    <form action="/User/Login" id="mylogin" name="mylogin" method="post">
        
        @Html.ValidationMessage("invalid-credentials")

        <div>
            @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "email" })
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <button>Login</button>
     </form>
</div>
